<div id="<%= dom_id project %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= project.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stars count:</strong>
    <%= project.stars_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= link_to(project.url, project.url, target: "_blank") %>
  </p>

  <p class="my-5">
    <% project.jewels.each do |jewel| %>
      <span class="font-bold text-sky-700 visited:text-indigo-700 mr-1">
        <%= link_to(jewel.name, projects_path(search: jewel.name))%>
      </span>
    <% end %>
  </p>
</div>