<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center py-2">
    <h1 class="font-bold text-4xl">Projects <span class="text-sky-700">(<%=@pagy.count%>)</span></h1>
  </div>
  <div class="flex">
    <%= form_tag(projects_path, method: :get) do %>
      <%= search_field_tag(:search, params[:search]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <%= turbo_frame_tag "page_handler" %>
  <div id="projects" class="min-w-full">
    <%= render @projects %>
  </div>
  <%= render "pager", pagy: @pagy %>
</div>